div{
    height: 500px;
    background-color: pink;
    width: 500px;
    border: 2px solid blue;
    /* border-width: 2px;
    border-style: dashed;
     border-color: blue; */
    
}
h1 {
    height: 350px;
    width: 350px;
    background-color:chocolate;
    border: 2px solid black;
    /* border-width: 2px;
    border-style: dashed;
    border-color: crimson; */
    text-align: center;
}