.bada{
    height: 350px;
    width: 600px;
    /* background-color: pink; */
    display: flex;
    /* position: relative; */
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    margin-top: 5px;
}
.another{
    color: green;
}