*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-color: rgba(0, 0, 0, 0.432);
}
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #dfc3ef;
    width: 300px;
    /* height: 420px; */
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
    
}
#container h1{
    color: #003049;
    text-align: center;
    
}
#box{
    
    padding: 10px;
}
.bar{
    margin-top: 20px;
    box-shadow: 0 10px 20px 0px rgba(0, 0, 0, 0.15);
    
    padding: 10px;
    border-radius: 10px;
    
    
    
}
.progress{
    height: 14px;
    display: inline-block;
    border-radius: 7px;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    font-size: xx-small;
    text-align: end;
    color: white;
   
}
h2{
    color: #001e33;
    
}

.bar:hover{

    background-color: #002f4934;
    
    #p1{
        background-color:  rgb(23, 124, 229);
        width: 100%;
        height: 14px;
        border-radius: 7px;
        animation: load 0.5s ease-in;
        animation-fill-mode: forwards;
        padding-right: 5px;
        
        
    }
    #p2{
        background-color:  rgb(23, 124, 229);
        width: 45%;
        height: 14px;
        border-radius: 7px;
        animation: load 0.5s ease-in;
        animation-fill-mode: forwards;
        padding-right: 5px;
        
    }
    #p3{
        background-color:  rgb(23, 124, 229);
        width: 80%;
        height: 14px;
        border-radius: 7px;
        animation: load 0.5s ease-in;
        animation-fill-mode: forwards;
        padding-right: 5px;
        
    }
    #p4{
        background-color:  rgb(23, 124, 229);
        width: 20%;
        height: 14px;
        border-radius: 7px; 
        animation: load 0.5s ease-in-out;
        animation-fill-mode: forwards;
        padding-right: 5px;
    }

}
@keyframes load{
    from{
        width: 0%;
        
        
        
    }
    to{
        width: max-width;
        
    }
}



